
{% extends 'base.html' %}

{% block content %}

<div role="main">
<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-channel-header-title">
<a href="https://www.listennotes.com/podcasts/hey-cool-life-hey-cool-life-1I4XcQr8OPm/" title="Health &amp; Fitness Podcast from United States: Hey, Cool Life!">Hey, Cool Life!</a>
</h1>
<div class="ln-channel-header-card ">
<div>
<a href="https://cdn-images-1.listennotes.com/podcasts/hey-cool-life-hey-cool-life-dLMyxhDrCFW-1I4XcQr8OPm.1400x1400.jpg" data-fancybox="images" data-caption="Hey, Cool Life!" title="Health &amp; Fitness Podcast from United States: Hey, Cool Life!">
<div class="ln-channel-image" style="background-image: url('https://cdn-images-1.listennotes.com/podcasts/hey-cool-life-hey-cool-life-lU1e0CP_od9-1I4XcQr8OPm.300x300.jpg')"></div>
</a>
</div>
<div class="ln-channel-header-info">
<div class="ln-channel-header-subtitle" title="Hey, Cool Life!">
By <a href="/search/?q=%22Hey%2C%20Cool%20Life%21%22&scope=podcast&only_in=author" title="See all podcasts produced by Hey, Cool Life!" rel="nofollow">Hey, Cool Life!</a>
</div>
<div class="ln-channel-episode-links-container">
<a class="btn btn-secondary btn-sm ln-channel-episode-link-button ln-animate-grow" href="#" data-id="" title="" data-text="" title="" rel="" target="_blank"><i class="fa fa-apple"></i> ITUNES</a>
<a class="btn btn-secondary btn-sm ln-channel-episode-link-button ln-animate-grow" href="#" data-id="" title="" data-text="" rel="" title="" target="_blank"><i class="fa fa-rss"></i> RSS</a>
<a class="btn btn-secondary btn-sm ln-channel-episode-link-button ln-animate-grow" rel="" title="" href="#" data-id="" title="" data-text="" target="_blank">
<i class="fa fa-link" ></i> WEB</a>
<a class="btn btn-secondary btn-sm ln-channel-episode-link-button ln-animate-grow" href="#" data-id="" title="" data-text="" target="_blank"><i class="fa fa-envelope"></i> EMAIL</a>
</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col">
 <div class="ln-channel-episode-action-container" id="placeholder-channel-toolbar">
<div class="ln-channel-episode-action-button-container">
<a class="btn btn-primary ln-animate-grow ln-channel-episode-action-button" style="background-color:#EF5B25;color:white">
<span class="ln-primary-btn-text"><i class="fa fa-bookmark" ></i> SAVE</span>
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-podcast"></i> <span class="ln-button-sheet-subscribe-text">SUBSCRIBE</span>
</a>
</div>
</div>
<div id="channel-toolbar" data-channel-uuid="4d008a340a7446db800b262ca157a945" data-channel-title="Hey, Cool Life!" data-channel-rss="https://anchor.fm/s/7ea750c/podcast/rss" data-channel-image="https://cdn-images-1.listennotes.com/podcasts/hey-cool-life-hey-cool-life-dLMyxhDrCFW-1I4XcQr8OPm.1400x1400.jpg" data-embed-url="https://www.listennotes.com/podcasts/hey-cool-life-hey-cool-life-1I4XcQr8OPm/embed/" class="ln-channel-episode-action-outer-container"></div>
</div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<nav class="col-lg-10 ln-col ln-nav-tab-container ln-horizontal-scroll" aria-label="Podcast navigation menu">
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
<a href="#podcast" class="nav-link " data-toggle="tab" onClick="">
<i class="fa fa-microphone"></i> PODCAST</a>
</li>
<li class="nav-item">
<a href="#search" class="nav-link" data-toggle="tab" onClick="">
<i class="fa fa-search"></i> SEARCH<span class="ln-inline-desktop-tablet-only"> EPISODES</span>
</a>
</li>
<li class="nav-item">
<a href="#community" class="nav-link" data-toggle="tab" onClick="">
<i class="fa fa-users"></i> COMMUNITY <span class="badge badge-warning" id="community-tab-total" style="display: none"></span>
</a>
</li>
<li class="nav-item">
<a href="#podcaster" class="nav-link" data-toggle="tab" onClick="">
<i class="fa fa-microphone"></i> PODCASTER
</a>
</li>
<li class="nav-item">
<a href="#embed" class="nav-link" data-toggle="tab" onClick="">
<i class="fa fa-code"></i> EMBED
</a>
</li>
<li class="nav-item">
<a href="#edit" class="nav-link" data-toggle="tab" onClick="">
<i class="fa fa-edit"></i> EDIT <span class="badge badge-warning">1</span>
</a>
 </li>
</ul>
</nav>
</div>
<div class="ln-content-body-section ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="tab-pane active" id="podcast" role="tabpanel">
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-ads-card">
<div class="ln-top-ad2 text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

</div>
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
ABOUT THIS PODCAST
</h2>
<div class="ln-channel-episode-description-text">
A minipod of Hey, Cool Job! with a focus on mental health and creativity by New York Times bestselling author Mary H.K. Choi.
</div>
<div class="ln-channel-info-block">
<a href="https://www.listennotes.com/best-health-fitness-podcasts-88/">
<div class="ln-channel-genre-tag">
Health &amp; Fitness
</div>
</a>
</div>
<div class="ln-channel-info-block">
<div class="ln-channel-info-badge"><i class="fa fa-globe"></i> English</div>
<div class="ln-channel-info-badge">
<i class="fas fa-map-marker"></i> United States
</div>
<div class="ln-channel-info-badge">
<i class="fa fa-info-circle"></i> 123 episodes
</div>
<div class="ln-channel-info-badge">
<i class="fa fa-hourglass-start"></i> since Jan. 3, 2019
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
IN THIS PODCAST
</h2>
<div class="ln-channel-info-block">
<div class="ln-nlp-entity">
<i class="fa fa-info"></i>
<a href="" onclick="" title="" rel="">
Cool Life
</a>
</div>
<div class="ln-nlp-entity">
<i class="fa fa-info"></i>
<a href="" onclick="" title="" rel="">
micropod
</a>
</div>
<div class="ln-nlp-entity">
<i class="fa fa-hashtag"></i>
<a href="" onclick="" title="">
creativity
</a>
</div>
</div>
<div class="ln-channel-episode-report-error">
<a href="#" data-action="switch-to-edit-tab-button">Edit these tags</a>
</div>
</div>
<a name="episodes"></a>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
LATEST EPISODE
</h2>
<div class="ln-channel-episode-card-body">
<div>
<a href="" data-fancybox data-caption="" title="">
<div class="ln-episode-image ln-channel-episode-description-image" style="background-image: url('https://cdn-images-1.listennotes.com/podcasts/hey-cool-life-hey-cool-life-lU1e0CP_od9-1I4XcQr8OPm.300x300.jpg');"></div>
</a>
</div>
<div class="ln-channel-episode-card-info-container">
<h3 class="ln-channel-episode-card-info-title">
<a href="" title="Hey, Cool Life! Episode 122" onClick="">
Hey, Cool Life! Episode 122
</a>
</h3>
<div class="ln-channel-episode-card-info-subtitle">
<time title="" datetime="" class="ln-date-text">
May 12, 2020
</time>
</div>
</div>
</div>
<div class="ln-episode-description-summary ln-top-margin-3x ln-bottom-margin-3x">
This one is about mothers.
</div>
<div>

<div class="row">
  <span> <i class="fa fa-play-circle ln-animate-grow ln-channel-episode-action-button" style="font-size:36px;color:#EF5B25"></i></span>
  <label style="padding-left:8px;padding-top:5px">00:44:15</label>
   <div class="row" style="padding-left:20px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-share"></i>&nbsp;&nbsp;SHARE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-bookmark"></i>&nbsp;&nbsp;SAVE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="text" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-ellipsis-h"></i></button>
  </div>
</div>

</div>
</div>
<div class="ln-home-feed-ad">
<div class="ln-ads-card text-center">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>


</div>
</div>
<div class="ln-channel-episode-detail-card">
<div class="ln-channel-episode-detail-card-title">
<h2 class="ln-channel-episode-detail-card-title-fix">PREVIOUS EPISODES</h2>
<div class="ln-channel-episode-detail-card-title-right">
<div class="ln-channel-sort-select">
<select class="custom-select" id="episodes-sort-selector">
<option value="recent_first" selected>Newest First</option>
<option value="oldest_first">Oldest First</option>
</select>
</div>
</div>
</div>



<!--  ALL EPISODES -->
<div>
<div class="ln-channel-individual-episode-card">
<div class="ln-channel-episode-card-body">
<div>
<a href="https://cdn-images-1.listennotes.com/podcasts/hey-cool-life-hey-cool-life-dLMyxhDrCFW-1I4XcQr8OPm.1400x1400.jpg" data-fancybox data-caption="Hey, Cool Life! Episode 121" title="Hey, Cool Life! Episode 121">
<div class="ln-episode-image ln-channel-episode-description-image" style="background-image: url('https://cdn-images-1.listennotes.com/podcasts/hey-cool-life-hey-cool-life-lU1e0CP_od9-1I4XcQr8OPm.300x300.jpg');"></div>
</a>
</div>
<div class="ln-channel-episode-card-info-container">
<h3 class="ln-channel-episode-card-info-title">
<a href="https://www.listennotes.com/podcasts/hey-cool-life/hey-cool-life-episode-121-iXEHJuqIyUK/" title="Hey, Cool Life! Episode 121" onClick="real_ga('send', 'event', 'Click Episode', 'Episode Hey, Cool Life! Episode 121');">
Hey, Cool Life! Episode 121
</a>
</h3>
<div class="ln-channel-episode-card-info-subtitle">
<time title="2020-05-08T07:47:24-07:00" datetime="2020-05-08T07:47:24-07:00" class="ln-date-text">
May 8, 2020
</time>
</div>
</div>
</div>
<div>

<br>


<div class="row">
  <span> <i class="fa fa-play-circle ln-animate-grow ln-channel-episode-action-button" style="font-size:36px;color:#EF5B25"></i></span>
  <label style="padding-left:8px;padding-top:5px">00:44:15</label>
   <div class="row" style="padding-left:20px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-share"></i>&nbsp;&nbsp;SHARE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-bookmark"></i>&nbsp;&nbsp;SAVE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="text" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-ellipsis-h"></i></button>
  </div>
</div>

</div>
</div>
<div class="ln-channel-individual-episode-cards">
<div class="">
<div>

</div>

<!--  END ALL EPISODES -->

</div>
</div>
</div>







<div id="placeholder-episodes-pagination" class="ln-channel-episode-load-more-button-container">
<button class="btn btn-secondary">Load more</button>
</div>
<div id="episodes-pagination" data-next-pubdate="1585584431005" data-prev-pubdate="1589298768000" data-channel-uuid="4d008a340a7446db800b262ca157a945" data-sort-type="recent_first"></div>
</div>
<div class="ln-channel-episode-detail-card">
<strong>Disclaimer</strong>: The podcast and artwork embedded on this page are from Hey, Cool Life!, which is the property of its owner and not affiliated with or endorsed by Listen Notes, Inc.
</div>
</div>
<div class="tab-pane" id="search" role="tabpanel">
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
SEARCH PAST EPISODES
</h2>
<div>
<form action="/search/">
<div class="input-group ln-search-input-container">
<input type="hidden" name="ocid" value="4d008a340a7446db800b262ca157a945" />
<input type="text" name="q" class="form-control ln-search-input" placeholder="people, places, topics..." aria-label="people, places, topics..." required>
<div class="input-group-append">
<input class="btn btn-primary" type="submit" value="search" />
</div>
</div>
</form>
</div>
<div class="ln-text-input-copy-annotation ln-top-padding-3x">
Search past episodes of Hey, Cool Life!.
</div>
<div class="ln-text-input-copy-annotation">
<a href="/custom/?ocid=4d008a340a7446db800b262ca157a945" class="">
<i class="fas fa-code"></i>
Embed this search bar to your website</a>
</div>
</div>
</div>
<div class="tab-pane" id="community" role="tabpanel">
<div id="community-lists-placeholder-card">
<div class="FB-Loading-Card ln-search-results-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div id="community-lists-app" data-uuid="4d008a340a7446db800b262ca157a945" data-item-type="channel" data-podcaster-uuids="">
</div>
</div>
<div class="tab-pane" id="podcaster" role="tabpanel">
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
CLAIM THIS PODCAST
</h2>
<div id="claim-podcast-app" class="ln-top-padding-3x" data-channel-uuid="4d008a340a7446db800b262ca157a945" data-channel-email="mhkchoi@gmail.com"></div>
<div id="podcast-claim-benefits">
<div class="ln-top-padding-10x"></div>
<h3 class="ln-l3-header-text">
Why to claim podcasts?
</h3>
<div class="ln-page-paragraph">
If you are a podcaster, the best way to manage your podcasts on Listen Notes is by claiming your Listen Notes
podcast pages.
It is a great, free way to engage the podcast community and increase the visibility of your podcasts.
</div>
<div class="ln-page-paragraph">
After claiming your Listen Notes podcast pages, you will be able to:
</div>
<div class="ln-page-paragraph">
<div><i class="fas fa-check-circle"></i> Manually refresh the RSS feed to sync up</div>
<div><i class="fas fa-check-circle"></i> Get a verified badge (<div class="ln-channel-claimed-badge"><i class="fas fa-check-circle"></i><span class="ln-channel-claimed-text">Claimed</span></div>) alongside with your podcast name on Listen Notes</div>
<div><i class="fas fa-check-circle"></i> Post <a href="/classifieds/">classified ads</a> for sponsorship, guests, co-hosts,
cross-promotion...
</div>
<div><i class="fas fa-check-circle"></i> Respond to listener comments on Listen Notes</div>
<div class="ln-page-paragraph">
<div class="ln-text-contextual-color">Coming soon:</div>
<div class="ln-text-contextual-color"><i class="far fa-circle"></i> Self-service promotion on Listen Notes
</div>
<div class="ln-text-contextual-color"><i class="far fa-circle"></i> Use speech-to-text techniques to transcribe your show and
edit transcripts
</div>
<div class="ln-text-contextual-color"><i class="far fa-circle"></i> Improve the presence of your podcasts, e.g., self served
podcaster interview...
</div>
<div class="ln-text-contextual-color"><i class="far fa-circle"></i> Track your podcast stats on Listen Notes, e.g., listens, page
views...
</div>
<div class="ln-text-contextual-color"><i class="far fa-circle"></i> Manage episodes</div>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="embed" role="tabpanel">
<div id="embed-app" data-url="https://www.listennotes.com/podcasts/hey-cool-life-hey-cool-life-1I4XcQr8OPm/" data-text="Hey, Cool Life!" data-embed-url="https://www.listennotes.com/podcasts/hey-cool-life-hey-cool-life-1I4XcQr8OPm/embed/"></div>
</div>
<div class="tab-pane" id="edit" role="tabpanel">
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
EDIT
</h2>
<div>
Thank you for helping to keep the podcast database up to date.
</div>
</div>
<div id="edit-app"></div>
</div>
</div>
<div class="col-lg-3 ln-col">
<div>
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>


</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
RECOMMENDATIONS
<a title="View similar podcasts" class="ln-left-padding-3x" rel="nofollow" data-id="login-nav-link" data-text="Please Log In to see more recommendations. It's to prevent malicious computer programs from scraping this website.">
<i class="fas fa-angle-double-right"></i>
</a>
</h2>
<div id=" ">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">

<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="recommendation-app" data-uuid="4d008a340a7446db800b262ca157a945"></div>
</div>
<div class="ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<a href="/api/docs/?id=4d008a340a7446db800b262ca157a945#get-api-v2-podcasts-id" class="ln-sidebar-api-promo" onClick="real_ga('send', 'event', 'Click API Sidebar', 'API sidebar channel Hey, Cool Life!');">
<i class="fas fa-code"></i> Use API to fetch this podcast</a>
</div>
<div class="text-center">
<div style="display: none;" id="ln-chrome-ext" class="ln-top-margin-10x">
<a href="https://chrome.google.com/webstore/detail/listen-notes-for-chrome/mgfcbojdgmjgafiihonneempohjhdjge" target="_blank" rel="noopener noreferrer" class="btn btn-primary" onClick="real_ga('send', 'event', 'Click Browser Ext Promo', 'Click Chrome Promo');" aria-label="Download Listen Notes Chrome extension">
<span class="ln-primary-btn-text"><i class="fab fa-chrome ln-right-padding-1x"></i> Listen Notes for Chrome</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
<div style="display: none;" id="ln-edge-ext" class="ln-top-margin-10x">
<a href="https://microsoftedge.microsoft.com/addons/detail/eboeelepapjbeocfhamnjjpeoooepjjj" target="_blank" rel="noopener noreferrer" class="btn btn-primary" onClick="real_ga('send', 'event', 'Click Browser Ext Promo', 'Click Edge Promo');" aria-label="Download Microsoft Edge addon">
<span class="ln-primary-btn-text">
<img src="https://cdn-images-1.listennotes.com/web/image/4e568f93c6a9439f97fc38571340774c.png" alt="Microsoft Edge logo" width="20" class="ln-right-padding-1x" />
Listen Notes for Edge</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="audio-player"></div>
</div>
</div>

{% endblock %}