{% extends 'base.html' %}

{% block content %}

<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title">
Podcast Academy
</h1>
<div class="ln-page-section-paragraph">
In-depth podcast app reviews, podcasting tutorials, podcast industry analysis, and more.
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-channel-episode-action-container" id="placeholder-page-share-button">
<div class="ln-channel-episode-action-button-container">
<a href="/cdn-cgi/l/email-protection#c9a1aca5a5a689a5a0babdaca7a7a6bdacbae7aaa6a4" title="Submit a guest post" class="btn btn-primary ln-animate-grow ln-channel-episode-action-button">
<span class="ln-primary-btn-text"><i class="fa fa-edit"></i> POST</span>
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="Share with friends" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="RSS of Podcast Academy" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-rss-square"></i> RSS
</a>
</div>
</div>
<div id="page-share-button" data-primary-url="mailto:hello@listennotes.com?subject=Submit a guest post&body=(It should be related to podcasts... Please send us the outline first.)" data-primary-title="Submit a guest post" data-primary-button-text="POST" data-primary-icon="fas fa-edit" data-secondary-url="https://www.listennotes.com/podcast-academy/rss/" data-secondary-title="Podcast Academy" data-secondary-button-text="RSS" data-secondary-icon="fas fa-rss-square" class="ln-channel-episode-action-outer-container" data-url="https://www.listennotes.com/podcast-academy/" data-text="Podcast Academy: In-depth podcast app reviews, podcasting tutorials, podcast industry analysis, and more."></div>
</div>
</div>
<div class="ln-content-body-section ln-top-padding-0x  ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="tab-pane active" id="tab-posts" role="tabpanel">
<div class="ln-top-pagination-card">
Page 1 of 14 articles
</div>
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card">
<div class="ln-animate-fade">
<a href="" title="How Do Podcasts Make Money in 2020? Here Are 8 Intriguing Ways" onClick="">
<h3 class="ln-academy-post-card-title">
How Do Podcasts Make Money in 2020? Here Are 8 Intriguing Ways
</h3>
<div class="row">
<div class="col-md-4 ln-col">
<img src="https://cdn-images-1.listennotes.com/academy/image/862975bed257455e86d59d204b48134c.jpg" class="ln-academy-post-card-image" />
</div>
<div class="col-md-8 ln-col ln-academy-post-card-right-part">
<div class="ln-academy-post-card-summary">
<span class="ln-date-text">
Feb. 13, 2020
</span>
&middot; Podcasts are infiltrating everything from Spotify to the SUV next to you. Learn 8 intriguing ways to make money with podcasts.
</div>
<a href="readmoreacademy">
<div class="ln-academy-post-card-read-all">
Read more...
</div></a>
</div>
</div>
</a>
</div>
</div>

</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-top-pagination-card"></div>
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href=" " rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
INTERVIEWS
<a title="View all podcaster interviews" class="ln-left-padding-3x" href="/interviews/">
<i class="fas fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-interview-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-interview-app" data-params="{}"></div>
</div>
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
PLAYLISTS FROM COMMUNITY
<a title="View all featured playlists" class="ln-left-padding-3x" href="/podcast-playlists/">
<i class="fa fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-playlists-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-playlists-app" data-params=""></div>
</div>
<div class="text-center"><div style="display: none;" id="ln-chrome-ext" class="ln-top-margin-10x">
<a href="https://chrome.google.com/webstore/detail/listen-notes-for-chrome/mgfcbojdgmjgafiihonneempohjhdjge" target="_blank" rel="noopener noreferrer" class="btn btn-primary" onClick="real_ga('send', 'event', 'Click Browser Ext Promo', 'Click Chrome Promo');" aria-label="Download Listen Notes Chrome extension">
<span class="ln-primary-btn-text"><i class="fab fa-chrome ln-right-padding-1x"></i> Listen Notes for Chrome</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
<div style="display: none;" id="ln-edge-ext" class="ln-top-margin-10x">
<a href="https://microsoftedge.microsoft.com/addons/detail/eboeelepapjbeocfhamnjjpeoooepjjj" target="_blank" rel="noopener noreferrer" class="btn btn-primary" onClick="real_ga('send', 'event', 'Click Browser Ext Promo', 'Click Edge Promo');" aria-label="Download Microsoft Edge addon">
<span class="ln-primary-btn-text">
<img src="https://cdn-images-1.listennotes.com/web/image/4e568f93c6a9439f97fc38571340774c.png" alt="Microsoft Edge logo" width="20" class="ln-right-padding-1x" />
Listen Notes for Edge</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}