{% extends 'base.html' %}

{% block content %}

<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title">
Best Podcasts
</h1>
<div class="ln-page-section-paragraph ln-directory-paragraph">
<span class="ln-directory-select">
<i class="fa fa-caret-down"></i>
<select class="custom-select" id="country-selector" data-sort-by-date="0" data-url="https://www.listennotes.com/best-podcasts/">
<option value="al">Albania</option>
<option value="dz">Algeria</option>
<option value="ao">Angola</option>
<option value="ai">Anguilla</option>
<option value="ag">Antigua and Barbuda</option>
<option value="ar">Argentina</option>
<option value="am">Armenia</option>
<option value="au" selected>Australia</option>
<option value="at">Austria</option>
<option value="az">Azerbaijan</option>
<option value="bs">Bahamas</option>
<option value="bh">Bahrain</option>
<option value="bd">Bangladesh</option>
<option value="bb">Barbados</option>
<option value="by">Belarus</option>
<option value="be">Belgium</option>
<option value="bz">Belize</option>
<option value="bj">Benin</option>
<option value="bm">Bermuda</option>
<option value="bt">Bhutan</option>
<option value="bo">Bolivia</option>
<option value="bw">Botswana</option>
<option value="br">Brazil</option>
<option value="vg">British Virgin Islands</option>
<option value="bn">Brunei Darussalam</option>
<option value="bg">Bulgaria</option>
<option value="bf">Burkina-Faso</option>
<option value="kh">Cambodia</option>
<option value="ca">Canada</option>
<option value="cv">Cape Verde</option>
<option value="ky">Cayman Islands</option>
<option value="td">Chad</option>
<option value="cl">Chile</option>
<option value="cn">China</option>
<option value="co">Colombia</option>
<option value="cr">Costa Rica</option>
<option value="hr">Croatia</option>
<option value="cy">Cyprus</option>
<option value="cz">Czech Republic</option>
<option value="dk">Denmark</option>
<option value="dm">Dominica</option>
<option value="do">Dominican Republic</option>
<option value="ec">Ecuador</option>
<option value="eg">Egypt</option>
<option value="sv">El Salvador</option>
<option value="ee">Estonia</option>
<option value="fj">Fiji</option>
<option value="fi">Finland</option>
<option value="fr">France</option>
<option value="gm">Gambia</option>
<option value="de">Germany</option>
<option value="gh">Ghana</option>
<option value="gr">Greece</option>
<option value="gd">Grenada</option>
<option value="gt">Guatemala</option>
<option value="gw">Guinea Bissau</option>
<option value="gy">Guyana</option>
<option value="hn">Honduras</option>
<option value="hk">Hong Kong</option>
<option value="hu">Hungaria</option>
<option value="is">Iceland</option>
<option value="in">India</option>
<option value="id">Indonesia</option>
<option value="ie">Ireland</option>
<option value="il">Israel</option>
<option value="it">Italy</option>
<option value="jm">Jamaica</option>
<option value="jp">Japan</option>
<option value="jo">Jordan</option>
<option value="kz">Kazakhstan</option>
<option value="ke">Kenya</option>
<option value="kg">Krygyzstan</option>
<option value="kw">Kuwait</option>
<option value="la">Laos</option>
<option value="lv">Latvia</option>
<option value="lb">Lebanon</option>
<option value="lr">Liberia</option>
<option value="lt">Lithuania</option>
<option value="lu">Luxembourg</option>
<option value="mo">Macau</option>
<option value="mk">Macedonia</option>
<option value="mg">Madagascar</option>
<option value="mw">Malawi</option>
<option value="my">Malaysia</option>
<option value="ml">Mali</option>
<option value="mt">Malta</option>

<option value="mr">Mauritania</option>
<option value="mu">Mauritius</option>
<option value="mx">Mexico</option>
<option value="md">Moldova</option>
<option value="mn">Mongolia</option>
<option value="ms">Montserrat</option>
<option value="mz">Mozambique</option>
<option value="na">Namibia</option>
<option value="np">Nepal</option>
<option value="nl">Netherlands</option>
<option value="nz">New Zealand</option>
<option value="ni">Nicaragua</option>
<option value="ne">Niger</option>
<option value="ng">Nigeria</option>
<option value="no">Norway</option>
<option value="om">Oman</option>
<option value="pk">Pakistan</option>
<option value="pw">Palau</option>
<option value="pa">Panama</option>
<option value="pg">Papua New Guinea</option>
<option value="py">Paraguay</option>
<option value="pe">Peru</option>
<option value="ph">Philippines</option>
<option value="pl">Poland</option>
<option value="pt">Portugal</option>
<option value="qa">Qatar</option>
<option value="ro">Romania</option>
<option value="ru">Russia</option>
<option value="lc">Saint Lucia</option>
<option value="sa">Saudi Arabia</option>
<option value="sn">Senegal</option>
<option value="sc">Seychelles</option>
 <option value="sl">Sierra Leone</option>
<option value="sg">Singapore</option>
<option value="sk">Slovakia</option>
<option value="si">Slovenia</option>
<option value="sb">Soloman Islands</option>
<option value="so">Somalia</option>
<option value="za">South Africa</option>
<option value="kr">South Korea</option>
<option value="es">Spain</option>
<option value="lk">Sri Lanka</option>
<option value="sr">Suriname</option>
<option value="sz">Swaziland</option>
<option value="se">Sweden</option>
<option value="ch">Switzerland</option>
<option value="tw">Taiwan</option>
<option value="tj">Tajikistan</option>
<option value="tz">Tanzania</option>
<option value="th">Thailand</option>
<option value="tn">Tunisia</option>
<option value="tr">Turkey</option>
<option value="tm">Turkmenistan</option>
<option value="ug">Uganda</option>
<option value="ua">Ukraine</option>
<option value="ae">United Arab Emirates</option>
<option value="gb">United Kingdom</option>
<option value="us">United States</option>
<option value="uy">Uruguay</option>
<option value="uz">Uzbekistan</option>
<option value="ve">Venezuela</option>
<option value="vn">Vietnam</option>
<option value="ye">Yemen</option>
<option value="zw">Zimbabwe</option>
 </select>
</span>
</div>
<div class="ln-page-section-paragraph ln-directory-paragraph">
<div class="ln-directory-subgenre-header">
Subcategories:
</div>
<div class="ln-directory-subgenres-container" role="navigation" aria-label="Podcast category navigation menu">
<a href="" class="ln-directory-subgenre" title="">
Arts
</a>
<a href="" class="ln-directory-subgenre" title="">
Business
</a>
<a href="" class="ln-directory-subgenre" title="">
Comedy
</a>
<a href="" class="ln-directory-subgenre" title="">
Education
</a>
<a href="" class="ln-directory-subgenre" title="">
Fiction
</a>
<a href="" class="ln-directory-subgenre" title="">
Government
</a>
<a href="" class="ln-directory-subgenre" title="">
Health &amp; Fitness
</a>
<a href="" class="ln-directory-subgenre" title="">
History
</a>
<a href="" class="ln-directory-subgenre" title="">
Kids &amp; Family
</a>
<a href="" class="ln-directory-subgenre" title="">
Leisure
</a>
<a href="" class="ln-directory-subgenre" title="">
Locally Focused
</a>
<a href="" class="ln-directory-subgenre" title="">
Music
</a>
<a href="" class="ln-directory-subgenre" title="">
News
 </a>
<a href="" class="ln-directory-subgenre" title="">
Personal Finance
</a>
<a href="" class="ln-directory-subgenre" title="">
Religion &amp; Spirituality
</a>
<a href="" class="ln-directory-subgenre" title="">
Science
</a>
<a href="" class="ln-directory-subgenre" title="">
Society &amp; Culture
</a>
<a href="" class="ln-directory-subgenre" title="">
Sports
</a>
<a href="" class="ln-directory-subgenre" title="">
Technology
</a>
<a href="" class="ln-directory-subgenre" title="">
True Crime
</a>
<a href="" class="ln-directory-subgenre" title="">
TV &amp; Film
</a>
</div>
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-channel-episode-action-container" id="placeholder-page-share-button">
<div class="ln-channel-episode-action-button-container">
<a class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
</a>
</div>
</div>
<div id="page-share-button" data-url="" data-text="Best Podcasts" class="ln-channel-episode-action-outer-container"></div>
</div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<nav class="col-lg-10 ln-col ln-nav-tab-container ln-horizontal-scroll">
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
<a href="#podcasts" class="nav-link active" data-toggle="tab">
<i class="fas fa-podcast"></i> PODCASTS</a>
</li>
<li class="nav-item">
<a href="#search" class="nav-link" data-toggle="tab">
<i class="fa fa-search"></i> SEARCH
</a>
</li>
</ul>
</nav>
</div>
<div class="ln-content-body-section ln-top-padding-0x ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="tab-pane active" id="podcasts" role="tabpanel">
<div class="ln-top-pagination-card">
Page 1 of 434 podcasts
<span class="ln-desktop-tablet-only">&nbsp;&middot; May 6, 2020</span>
<div class="ln-channel-episode-detail-card-title-right">
<div class="ln-channel-sort-select">
<select class="custom-select" id="best-sort-selector" data-url="https://www.listennotes.com/best-podcasts/?region=au">
<option value="recent_added_first" selected>
Added date (Newest)
</option>
<option value="oldest_added_first">
Added date (Oldest)
</option>
<option value="recent_published_first">
Published (Newest)
</option>
<option value="oldest_published_first">
Published (Oldest)
</option>
</select>
</div>
</div>
</div>
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>




<div class="ln-channel-episode-detail-card">
<div class="row">
<div class="col-lg-10 ln-col ln-channel-detailed-card-info-container">
<div>
<a href="https://www.listennotes.com/podcasts/team-deakins-james-ellis-deakins-roger-Ov3bpmkUou9/" title="Team Deakins">
<img src="https://cdn-images-1.listennotes.com/podcasts/team-deakins-james-ellis-deakins-roger-_BKsbaXTdEq-Ov3bpmkUou9.300x300.jpg" alt="Best podcasts (2020): Team Deakins" class="ln-channel-image" />
</a>
</div>
<div class="ln-channel-detailed-card-header-info">
<h2 class="ln-channel-episode-card-info-title ln-channel-detailed-card-title">
<a href="" title="">
Team Deakins
</a>
</h2>
<div class="ln-channel-episode-card-info-subtitle ln-channel-simple-card-subtitle" title="James Ellis Deakins, Roger Deakins, Matt Wyman">
By
<a href=" " >James Ellis Deakins, Roger Deakins, Matt Wyman</a>
</div>
<div class="ln-channel-detailed-card-links-container">
<a class="btn-sm " href="" title="" rel="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold"><i class="fa fa-apple" aria-hidden="true"></i> ITUNES</a>
<a class=" btn-sm" href="" rel="" title="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold"><i class="fa fa-rss"></i> RSS</a>
<a class="btn-sm" rel="" title="" href="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold">
<i class="fa fa-link"></i> WEB</a>
<a class=" btn-sm " href=" " data-id="login-nav-link" title="" data-text="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold"><i class="fa fa-envelope"></i> EMAIL</a>
</div>
</div>
</div>

<div class="col-lg-2 ln-col">
<!-- <div data-id="channel-toolbar" data-channel-uuid="1973c08440e64f88bd0857b277b44c09" data-channel-title="Team Deakins" data-embed-url="https://www.listennotes.com/podcasts/team-deakins-james-ellis-deakins-roger-Ov3bpmkUou9/embed/" class="ln-channel-episode-action-outer-container"></div>-->
 <div class="row" style="padding-top:25px">
<button type="button" class="btn btn-sm ln-animate-grow ln-channel-episode-action-button" style="width:88px;color:white;background-color:#EF5B25">
 <i class="fa fa-bookmark" style="color:white;"></i>
&nbsp;&nbsp;SAVE</button>
</div>

<div class="row" style="padding-top:6px">
<button type="button" class="border btn btn-light btn-sm ln-animate-grow ln-channel-episode-action-button" style="width:88px;"><i class="fa fa-share"></i>&nbsp;&nbsp;SHARE</button>
</div>
</div>

</div>
<div class="ln-channel-detailed-card-description">
The Team Deakins podcast is an ongoing conversation between acclaimed cinematographer Roger Deakins and James Deakins, his collaborator, about cinematography, the film business and whatever other questions are submitted. We start with a specific que…
</div>
<div class="ln-channel-detailed-card-latest-episode">
<div class="ln-channel-detailed-card-latest-episode-header">LATEST EPISODE</div>
<div>
<div class="ln-channel-episode-card-body">
<div class="ln-channel-episode-card-inner-body">
<h3 class="ln-channel-episode-card-info-title">
<a href="https://www.listennotes.com/podcasts/team-deakins/lens-choice-WVk8rsqImdE/" title="Lens Choice" onClick="real_ga('send', 'event', 'Click Episode', 'Episode Lens Choice');">
Lens Choice
</a>
</h3>
<div class="ln-channel-episode-card-info-subtitle">
<time title="2020-05-06T09:00:00-07:00" datetime="2020-05-06T09:00:00-07:00" class="ln-date-text">
May 6, 2020
</time>
</div>
</div>
 
</div>
<div>
<div>
</div>
</div>
<div>
<div >
<a >
</a>


<div class="row">
  <span> <i class="fa fa-play-circle ln-animate-grow ln-channel-episode-action-button" style="font-size:36px;color:#EF5B25"></i></span>
  <label style="padding-left:8px;padding-top:5px">00:44:15</label>
   <div class="row" style="padding-left:20px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-share"></i>&nbsp;&nbsp;SHARE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-bookmark"></i>&nbsp;&nbsp;SAVE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-ellipsis-h"></i></button>
  </div>
  
</div>
</div>
<div >

</div>
</div>
</div>
</div>
</div>










<div class="ln-podcaster-card">
<ul class="pagination justify-content-center">
<li class="page-item  ln-page-item disabled">
<a class="page-link" href="https://www.listennotes.com/best-podcasts/?page=0&region=au&sort_type=recent_added_first" onClick="real_ga('send', 'event', 'Best Previous', 'Best Previous  / au');" rel="prev nofollow">
Previous
</a>
</li>
<li class="page-item  ln-page-item ">
<a class="page-link" href="https://www.listennotes.com/best-podcasts/?page=2&region=au&sort_type=recent_added_first" onClick="real_ga('send', 'event', 'Best Next', 'Best Next  / au');" rel="next nofollow">
Next
</a>
</li>
</ul>
</div>
</div>
<div class="tab-pane" id="search" role="tabpanel">
<div class="ln-top-pagination-card"></div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
SEARCH
</h2>
<div>
<form action="/search/">
<div class="input-group ln-search-input-container">
<input type="hidden" name="scope" value="podcast" />
<input type="hidden" name="genre_ids" value="67" />
<input type="text" name="q" class="form-control ln-search-input" placeholder="people, places, topics..." aria-label="people, places, topics..." required>
<div class="input-group-append">
<input class="btn btn-primary" type="submit" value="search" />
</div>
</div>
</form>
</div>
<div class="ln-text-input-copy-annotation ln-top-padding-3x">
Search the whole Internet's podcasts
</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col ln-top-padding-15x">
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">

<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<div class="" align="left" style="color:#909090;font-weight:650;">
ACTIONS
</div>
<a class="" href="" style="padding-left:0px">
 <div class="row" >
    <div style="padding-left:0px;">

         <div class="row" style="padding-left:0px;">
          <div class="col" >
         ccccc
         </div>
         <div class="col">
         xxxxxxxxx
         </div>
         </div>
        
          <div class="row" style="padding-left:0px;">
          <div class="col">
         ccccc
         </div>
         <div class="col">
         xxxxxxxxx
         </div>
         </div>
  </div>

 </div>

</a>

</div>






<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<div class="ln-channel-episode-detail-card-title">
ACTIONS
</div>
<a class="btn btn-secondary ln-full-width" href="/submit/">
<i class="fa fa-plus-circle"></i> Submit your podcast
</a>
<a class="btn btn-secondary ln-full-width ln-bottom-margin-3x ln-top-margin-3x" href="/datasets/category/">
<i class="fa fa-database"></i> Batch export podcasts
</a>
</div>
<div class="ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<a href="/api/docs/#get-api-v2-best_podcasts" class="ln-sidebar-api-promo" onClick="real_ga('send', 'event', 'Click API Sidebar', 'API Sidebar Best Podcasts');">
<i class="fas fa-code"></i> Use API to fetch this list
</a>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
