
{% extends 'base.html' %}

{% block content %}

<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title">
Classified Ads for Podcasting
</h1>
<div class="ln-page-section-paragraph">
The best place to find co-hosts, guests, sponsors, and cross-promotions for your podcasts.
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-channel-episode-action-container" id="placeholder-page-share-button">
<div class="ln-channel-episode-action-button-container">
<a title="Share with friends" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
</a>
</div>
</div>
<div id="page-share-button" data-url="" data-text="Classified Ads for podcasting" class="ln-channel-episode-action-outer-container"></div>
</div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<nav class="col-lg-10 ln-col ln-nav-tab-container ln-horizontal-scroll">
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
<a href="#classifieds" class="nav-link active" data-toggle="tab">
<i class="fa fa-newspaper"></i> CLASSIFIEDS</a>
</li>
<li class="nav-item">
<a href="#how" class="nav-link" data-toggle="tab">
<i class="fa fa-question"></i> HOW IT WORKS
</a>
</li>
</ul>
</nav>
</div>
<div class=" ln-content-body-section ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">


<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="tab-pane active" id="classifieds" role="tabpanel">
<div id="classifieds-placeholders">
<div class="FB-Loading-Card ln-search-results-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
<div></div>
<div></div>
<div></div>
</div>

</div>
<div id="react-app"></div>
<div class="ln-top-margin-5x">




</div>
</div>
<div class="tab-pane" id="how" role="tabpanel">
<div class="ln-empty-room-card">
<div class="ln-page-paragraph">
<strong>How to post a classified ad?</strong>
</div>
<div class="ln-page-paragraph">
You should claim your podcast page first, then indicate if you are looking for guests,
sponsors, co-hosts or/and cross-promotion opportunities.
</div>
<div class="ln-page-paragraph ln-top-margin-5x">
<strong>How to claim a podcast page?</strong>
</div>
<div class="ln-page-paragraph">
Go to the "Podcaster" tab of your podcast page, then claim there.
</div>
<div class="ln-page-paragraph ln-top-margin-5x">
<strong>Sort order of classified ads?</strong>
</div>
<div class="ln-page-paragraph">
The list of classified ads is sorted by the published date of the latest episode in a podcast.
For example, if a podcast publishes a new episode, then its classified ad will pop to the top of the list.
</div>
<div class="ln-page-paragraph ln-top-margin-5x">
<strong>Can I post a classified ad if I don't own any podcast?</strong>
</div>
<div class="ln-page-paragraph">
Not for now. But we'll allow non-podcasters to post in the future (e.g., brands looking for podcasts to sponsor).
</div>
<div class="ln-page-paragraph ln-top-margin-5x">
<strong>How to contact podcasters?</strong>
</div>
<div class="ln-page-paragraph">
Just click on the "Contact" button to email the podcaster.
</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
FEATURED HOSTING SERVICES
</h2>
<div>
<a href="" target="_blank" title="Podcaster.de" rel="noopener">
<div class="ln-channel-simple-card row">
<div class="">
 <img src="https://cdn-images-1.listennotes.com/web/image/61a9fb61e7ff46ce99af44b2f238449c.png" alt="Podcaster.de" class="ln-hosting-service-image" />
</div>
<div class="ln-left-padding-3x">
<div class="ln-sidebar-academy-title">
<strong>Podcaster.de</strong>
<small class="ln-left-margin-1x"><i class="fas fa-external-link-alt"></i></small>
</div>
</div>
</div>
</a>
<div class="ln-channel-episode-recommendation-card-bottom"></div>
<a href="" target="_blank" title="Audioboom" rel="noopener">
<div class="ln-channel-simple-card row">
<div class="">
<img src="https://cdn-images-1.listennotes.com/web/image/9c9ab9ed16b447b5a895b2bf0782c25f.png" alt="Audioboom" class="ln-hosting-service-image" />
</div>
<div class="ln-left-padding-3x">
<div class="ln-sidebar-academy-title">
<strong>Audioboom</strong>
<small class="ln-left-margin-1x"><i class="fas fa-external-link-alt"></i></small>
</div>
</div>
</div>
</a>
<div class="ln-channel-episode-recommendation-card-bottom"></div>
<a href="https://www.buzzsprout.com/" target="_blank" title="Buzzsprout" rel="noopener">
<div class="ln-channel-simple-card row">
<div class="">
<img src="https://cdn-images-1.listennotes.com/web/image/cf576a7d10a44aaf87981223f2547518.png" alt="Buzzsprout" class="ln-hosting-service-image" />
</div>
<div class="ln-left-padding-3x">
<div class="ln-sidebar-academy-title">
<strong>Buzzsprout</strong>
<small class="ln-left-margin-1x"><i class="fas fa-external-link-alt"></i></small>
</div>
</div>
</div>
</a>
<div class="ln-channel-episode-recommendation-card-bottom"></div>
<a href="https://www.pinecast.com/" target="_blank" title="Pinecast" rel="noopener">
<div class="ln-channel-simple-card row">
<div class="">
<img src="https://cdn-images-1.listennotes.com/web/image/529aac59c18449f0aabe84018f879c21.jpg" alt="Pinecast" class="ln-hosting-service-image" />
</div>
<div class="ln-left-padding-3x">
<div class="ln-sidebar-academy-title">
<strong>Pinecast</strong>
<small class="ln-left-margin-1x"><i class="fas fa-external-link-alt"></i></small>
</div>
</div>
</div>
</a>
<div class="ln-channel-episode-recommendation-card-bottom"></div>
</div>
<small class="text-muted">
Want to get featured? <a href="/cdn-cgi/l/email-protection#f29a979e9e9db29e9b8186979c9c9d869781dc919d9fcd81879098979186cfba9d85d2869dd2959786d29e9b81869796d29381d293d29497938687809796d29a9d81869b9c95d2819780849b9197cd" class="ln-text-helper-color"><span class="__cf_email__" data-cfemail="bfd7dad3d3d0ffd3d6cccbdad1d1d0cbdacc91dcd0d2">[email&#160;protected]</span></a>
</small>
</div>
<div class="text-center"><div style="display: none;" id="ln-chrome-ext" class="ln-top-margin-10x">
<a href="https://chrome.google.com/webstore/detail/listen-notes-for-chrome/mgfcbojdgmjgafiihonneempohjhdjge" target="_blank" rel="noopener noreferrer" class="btn btn-primary" onClick="real_ga('send', 'event', 'Click Browser Ext Promo', 'Click Chrome Promo');" aria-label="Download Listen Notes Chrome extension">
<span class="ln-primary-btn-text"><i class="fab fa-chrome ln-right-padding-1x"></i> Listen Notes for Chrome</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
<div style="display: none;" id="ln-edge-ext" class="ln-top-margin-10x">
<a href="https://microsoftedge.microsoft.com/addons/detail/eboeelepapjbeocfhamnjjpeoooepjjj" target="_blank" rel="noopener noreferrer" class="btn btn-primary" onClick="real_ga('send', 'event', 'Click Browser Ext Promo', 'Click Edge Promo');" aria-label="Download Microsoft Edge addon">
<span class="ln-primary-btn-text">
<img src="https://cdn-images-1.listennotes.com/web/image/4e568f93c6a9439f97fc38571340774c.png" alt="Microsoft Edge logo" width="20" class="ln-right-padding-1x" />
Listen Notes for Edge</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}