
{% extends 'base.html' %}

{% block content %}

<div class="ln-body-container">
<div class="row ln-below-search-bar-row">
<div class="col-lg-2"></div>

</div>
<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title">
Curated Podcasts
</h1>
<div class="ln-page-section-paragraph">
Curated lists of awesome podcasts from online resources, e.g., articles, forum discussions...
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-channel-episode-action-container" id="placeholder-page-share-button">
<div class="ln-channel-episode-action-button-container">
<a href="/listen/" title="Create your own podcast list" class="btn btn-primary ln-animate-grow ln-channel-episode-action-button">
<span class="ln-primary-btn-text"><i class="fa fa-list"></i> CREATE</span>
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="Share with friends" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
</a>
</div>
</div>
<div id="page-share-button" class="ln-channel-episode-action-outer-container" data-primary-url="/listen/" data-primary-title="Create your own podcast list" data-primary-button-text="CREATE" data-primary-icon="fas fa-list" data-url="https://www.listennotes.com/curated-podcasts/" data-text="Curated lists of awesome podcasts."></div>
</div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<nav class="col-lg-10 ln-col ln-nav-tab-container ln-horizontal-scroll">
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
<a href="#lists" class="nav-link active" data-toggle="tab">
<i class="fa fa-microphone-alt"></i> CURATED PODCASTS</a>
</li>
<li class="nav-item">
<a href="#search" class="nav-link" data-toggle="tab">
<i class="fa fa-search"></i> SEARCH
</a>
</li>
</ul>
</nav>
</div>
<div class="ln-content-body-section ln-top-padding-0x ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="tab-pane active" id="lists" role="tabpanel">
<div class="ln-top-pagination-card">
Page 1 of 3112 lists
</div>
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card">
<h2>
<a href="https://www.listennotes.com/curated-podcasts/15-fantastic-pop-culture-podcasts-46htIerF9gu/" class="ln-episode-card-title" onClick="real_ga('send', 'event', 'Click entity title', '15 Fantastic Pop Culture Podcasts');">
15 Fantastic Pop Culture Podcasts
</a>
</h2>
<div class="ln-date-text">
today
<span class="ln-middot">&middot;</span> <a href="https://www.oprahmag.com/entertainment/g32401977/pop-culture-podcasts/?utm_source=listennotes.com&amp;utm_campaign=Listen+Notes&amp;utm_medium=website" rel="nofollow" title="https://www.oprahmag.com/entertainment/g32401977/pop-culture-podcasts/?utm_source=listennotes.com&amp;utm_campaign=Listen+Notes&amp;utm_medium=website" onClick="real_ga('send', 'event', 'Click entity url', '15 Fantastic Pop Culture Podcasts');">
www.oprahmag.com
</a>
</div>
<div class="ln-curated-lists-channel-row">
<a href="https://www.listennotes.com/podcasts/pop-culture-happy-hour-npr-Mi1AYpXj2go/" title="Pop Culture Happy Hour">
<img title="Pop Culture Happy Hour" alt="Pop Culture Happy Hour" src="https://cdn-images-1.listennotes.com/podcasts/pop-culture-happy-hour-npr-Mi1AYpXj2go.300x300.jpg" class="ln-curated-lists-channel-image ln-animate-grow" />
</a>
<a href="https://www.listennotes.com/podcasts/keep-it-crooked-media-fwTvI6Ze8iN/" title="Keep It!">
<img title="Keep It!" alt="Keep It!" src="https://cdn-images-1.listennotes.com/podcasts/keep-it-crooked-media-CmRX3S2vHBV-fwTvI6Ze8iN.300x300.jpg" class="ln-curated-lists-channel-image ln-animate-grow" />
</a>
<a href="https://www.listennotes.com/podcasts/the-watch-the-ringer-KEC26xzk4QS/" title="The Watch">
<img title="The Watch" alt="The Watch" src="https://cdn-images-1.listennotes.com/podcasts/the-watch-the-ringer-PX6xwV9DBqv-KEC26xzk4QS.300x300.jpg" class="ln-curated-lists-channel-image ln-animate-grow" />
</a>
<a href="https://www.listennotes.com/podcasts/all-fantasy-everything-headgum-hGkLxfsg1To/" title="All Fantasy Everything">
<img title="All Fantasy Everything" alt="All Fantasy Everything" src="https://cdn-images-1.listennotes.com/podcasts/all-fantasy-everything-headgum-3fPC8y4h2-v-hGkLxfsg1To.300x300.jpg" class="ln-curated-lists-channel-image ln-animate-grow" />
</a>
<a href="https://www.listennotes.com/podcasts/culture-gabfest-slate-podcasts-42RzeUEdO8M/" title="Culture Gabfest">
<img title="Culture Gabfest" alt="Culture Gabfest" src="https://cdn-images-1.listennotes.com/podcasts/culture-gabfest-slate-podcasts-Z_LIXS-Yw1j-42RzeUEdO8M.300x300.jpg" class="ln-curated-lists-channel-image ln-animate-grow" />
</a>
</div>
</div>



<div class="ln-podcaster-card">
<ul class="pagination justify-content-center">
<li class="page-item ln-page-item disabled">
<a class="page-link" href="?page=0" onClick="real_ga('send', 'event', 'Curated Previous', 'Nav');" rel=”prev”>
Previous
</a>
</li>
<li class="page-item ln-page-item ">
<a class="page-link" href="?page=2" onClick="real_ga('send', 'event', 'Curated Next', 'Nav');" rel=”next”>
Next
</a>
</li>
</ul>
</div>
</div>
<div class="tab-pane" id="search" role="tabpanel">
<div class="ln-top-pagination-card"></div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
SEARCH CURATED PODCASTS
</h2>
<div>
<form action="/search/">
<div class="input-group ln-search-input-container">
<input type="hidden" name="scope" value="curated" />
<input type="text" name="q" class="form-control ln-search-input" placeholder="people, places, topics..." aria-label="people, places, topics..." required>
<div class="input-group-append">
<input class="btn btn-primary" type="submit" value="search" />
</div>
</div>
</form>
</div>
<div class="ln-text-input-copy-annotation ln-top-padding-3x">
Search curated lists of awesome podcasts.
</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col ln-top-padding-15x">
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class=" ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
CLASSIFIEDS
<a title="View all podcast classified ads" class="ln-left-padding-3x" href="/classifieds/">
<i class="fa fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-classifieds-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-classifieds-app" data-params="{}"></div>
</div>
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<div class="ln-channel-episode-detail-card-title">
ACTIONS
</div>
<a class="btn btn-secondary ln-full-width" href="/submit/">
<i class="fa fa-plus-circle"></i> Submit your podcast
</a>
<a class="btn btn-secondary ln-full-width ln-bottom-margin-3x ln-top-margin-3x" href="/datasets/category/">
<i class="fa fa-database"></i> Batch export podcasts
</a>
</div>
<div class="ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<a href="/api/docs/#get-api-v2-curated_podcasts" class="ln-sidebar-api-promo" onClick="real_ga('send', 'event', 'Click API Sidebar', 'API sidebar club ');">
<i class="fa fa-code"></i> Use API to fetch curated lists
</a>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}