

{% extends 'base.html' %}

{% block content %}

<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title ln-topics-h1-name">
Listen Explorer: what are podcasts similar to...
</h1>
<div class="ln-page-section-paragraph text-muted">
1. Pick some podcasts. 2. Get recommendations for similar podcasts.
</div>
<div id="selector-app"></div>
</div>
</div>
<div class="ln-content-body-section ln-top-padding-0x ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content ln-top-padding-10x">
<div class="tab-pane active" id="podcasts" role="tabpanel">
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="ln-empty-room-card">
No podcasts yet. Please pick some podcasts above. Example: <a href="/explorer/?podcasts=GJRN7_nAPOM,B3GMypEhl2c,8A7rlSEYWOR">Star Wars, Star Trek, Harry Potter</a>
</div>
</div>
</div>
<div class="col-lg-3 ln-col ln-top-padding-10x">
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
PLAYLISTS FROM COMMUNITY
<a title="View all featured playlists" class="ln-left-padding-3x" href="/podcast-playlists/">
<i class="fas fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-playlists-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-playlists-app" data-params=""></div>
</div>
</div>
</div>
</div>
</div>
<div id="audio-player"></div>
</div>



<script id="user-data" type="application/json">
        {"current_path": "%2Fexplorer%2F", "base_url": "https://www.listennotes.com", "lang_code": "en-us"}
    </script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous">


<script type="text/javascript" src="https://d3sv2eduhewoas.cloudfront.net/assets/v3/base_js_v3-3d9b816c8d01a3f53200.bundle.js"></script>
<script id="original-channels" type="application/json">
        []
    </script>
<script type="text/javascript" src="https://d3sv2eduhewoas.cloudfront.net/assets/v3/recommendations_js-3d9b816c8d01a3f53200.bundle.js"></script>







{% endblock %}
