{% extends 'base.html' %}

{% block content %}

<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title">
Podcaster Interviews
</h1>
<div class="ln-page-section-paragraph">
Podcasters tell their own stories.
</div>
<div class="ln-page-section-paragraph">
<a href="" class="ln-primary-color" title="">
272 Interviews with Independent Podcast Producers: A Snapshot of Indie Podcasting in 2019
</a>
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-channel-episode-action-container" id="placeholder-page-share-button">
<div class="ln-channel-episode-action-button-container">
<a href="https://listennotes.typeform.com/to/fayWca" title="Request to be interviewed" class="btn btn-primary ln-animate-grow ln-channel-episode-action-button">
<span class="ln-primary-btn-text"><i class="fa fa-microphone"></i> INTERVIEW</span>
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="Share with friends" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="RSS of podcaster interviews" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-rss-square"></i> RSS
</a>
</div>
</div>
<div id="page-share-button" class="ln-channel-episode-action-outer-container" data-primary-url="https://listennotes.typeform.com/to/fayWca" data-primary-title="Request to be interviewed" data-primary-button-text="INTERVIEW" data-primary-icon="fas fa-microphone" data-secondary-url="https://www.listennotes.com/interviews/rss/" data-secondary-title="Podcaster Interviews" data-secondary-button-text="RSS" data-secondary-icon="fas fa-rss-square" data-url="https://www.listennotes.com/interviews/" data-text="Interviewing 336 podcasters on Listen Notes"></div>
</div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<nav class="col-lg-10 ln-col ln-nav-tab-container ln-horizontal-scroll">
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
<a href="#tab-interviews" class="nav-link active" data-toggle="tab">
<i class="fa fa-microphone-alt"></i> INTERVIEWS</a>
</li>
<li class="nav-item">
<a href="#tab-search" class="nav-link" data-toggle="tab">
<i class="fa fa-search"></i> SEARCH<span class="ln-inline-desktop-tablet-only"> INTERVIEWS</span>
</a>
</li>
</ul>
</nav>
</div>
<div class="ln-content-body-section ln-top-padding-0x ln-grey-bg">
<div class="row ">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="tab-pane active" id="tab-interviews" role="tabpanel">
<div class="ln-top-pagination-card">
Page 1 of 336 interviews
</div>
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="ln-animate-fade">
<div class="ln-podcaster-card">
<a href="" title="">
<div class="ln-channel-episode-description-text">
<h3 class="ln-podcaster-card-title">
Access Doorstop Sized Bio/History In An Hour
</h3>
<div class="ln-podcaster-card-header">
<div class="ln-desktop-only">
<img src="https://cdn-images-1.listennotes.com/podcasts/byte-sized-biographies-byte-sized-biographies-Z7t6ALQcI8-.300x300.jpg" class="ln-podcaster-card-channel-image" />
</div>
<div class="ln-podcaster-card-info">
<div class="ln-podcaster-card-info-row">
<div class="ln-podcaster-name">
<i class="fa fa-microphone-alt"></i> Philip D. Gibbons
</div>
</div>
<div class="ln-podcaster-name-tag-row">
<div class="ln-channel-genre-tag">Since 2015</div>
<div class="ln-channel-genre-tag">History</div>
</div>
</div>
</div>
<a href="readi">
<div class="ln-podcaster-read-more-row">
READ INTERVIEW <i class="fa fa-chevron-circle-right"></i>
</div><a>
</div>
</a>
</div>
</div>







<div class="ln-podcaster-card">
<ul class="pagination justify-content-center">
<li class="page-item ln-page-item disabled">
<a class="page-link" href="?page=0" onClick="real_ga('send', 'event', 'Interview Previous', 'Nav');" rel=”prev”>
Previous
</a>
</li>
<li class="page-item ln-page-item ">
<a class="page-link">
Next
</a>
</li>
</ul>
</div>
<div class="ln-top-margin-5x">




</div>
 </div>
<div class="tab-pane" id="tab-search" role="tabpanel">
<div class="ln-top-pagination-card"></div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
SEARCH PODCASTER INTERVIEWS
</h2>
<div>
<form action="/search/">
<div class="input-group ln-search-input-container">
<input type="hidden" name="scope" value="interview" />
<input type="text" name="q" class="form-control ln-search-input" placeholder="people, places, topics..." aria-label="people, places, topics..." required>
<div class="input-group-append">
<input class="btn btn-primary" type="submit" value="search" />
</div>
</div>
</form>
</div>
<div class="ln-text-input-copy-annotation ln-top-padding-3x">
Search past interviews. Learn stories behind your favorite podcasts.
</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col ln-top-padding-15x">
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
PODCAST ACADEMY
<a title="View all podcast academy articles" class="ln-left-padding-3x" href="/podcast-academy/">
<i class="fa fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-academy-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-academy-app" data-params="{}"></div>
</div>
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
PLAYLISTS FROM COMMUNITY
<a title="View all featured playlists" class="ln-left-padding-3x" href="/podcast-playlists/">
<i class="fa fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-playlists-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-playlists-app" data-params=""></div>
</div>
<div class="text-center"><div style="display: none;" id="ln-chrome-ext" class="ln-top-margin-10x">
<a href="" target="_blank" rel="" class="btn btn-primary" onClick="" aria-label="">
<span class="ln-primary-btn-text"><i class="fab fa-chrome ln-right-padding-1x"></i> Listen Notes for Chrome</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
<div style="display: none;" id="ln-edge-ext" class="ln-top-margin-10x">
<a href="" target="_blank" rel="" class="btn btn-primary" onClick="" aria-label="">
<span class="ln-primary-btn-text">
<img src="https://cdn-images-1.listennotes.com/web/image/4e568f93c6a9439f97fc38571340774c.png" alt="" width="20" class="ln-right-padding-1x" />
Listen Notes for Edge</span>
</a>
<div>
<small class="text-muted">The fastest way to find podcasts!</small>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}