
{% extends 'base.html' %}

{% block content %}

<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title">
Podcast Playlists from the Listen Notes Community
</h1>
<div class="ln-page-section-paragraph ln-top-padding-3x">
Explore 806 awesome podcast playlists created by our community. Discover interesting podcast episodes by topics.
</div>
<div class="ln-page-section-paragraph">
Every user on Listen Notes can <a href="" title="Create podcast playlists for free" target="_blank" class="ln-primary-color">create podcast playlists for free</a>,
by curating individual episodes or podcasts.
A playlist can be either public, private, or unlisted.
This page displays public playlists handpicked by us.
</div>
<div class="ln-page-section-paragraph ln-api-header-text">
Questions?
<a href="">
<span class="ln-primary-color"><span class="__cf_email__" data-cfemail="">[email&#160;protected]</span></span>
</a>
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-channel-episode-action-container" id="placeholder-page-share-button">
<div class="ln-channel-episode-action-button-container">
<a href=" " title="Create your own podcast list" class="btn btn-primary ln-animate-grow ln-channel-episode-action-button">
<span class="ln-primary-btn-text"><i class="fa fa-list"></i> CREATE</span>
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="Share with friends" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
 </a>
</div>
</div>
<div id="page-share-button" class="ln-channel-episode-action-outer-container" data-primary-url="" data-primary-title="Create your own podcast list" data-primary-button-text="CREATE" data-primary-icon="fas fa-list" data-url="https://www.listennotes.com/podcast-playlists/" data-text="Podcast Playlists from the Listen Notes Community"></div>
</div>
</div>
<div class="ln-content-body-section ln-top-padding-0x ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col">
<div class="ln-top-pagination-card">
Page 1 of 806 lists
<div class="ln-channel-episode-detail-card-title-right">
<small>Sorted by updated time</small>
</div>
</div>
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card">
<div class="ln-playlist-card-container">
<h2 class="ln-playlist-card-title ln-bottom-padding-3x">
<a href="https://www.listennotes.com/listen/lehramt-uulm-g-NibklKcz0/?display=episode" title="Lehramt UUlm">
Lehramt UUlm
</a>
</h2>
<div class="row">
<div class="col-lg-8 ln-col">
<a href="" title="Ausgesuchte Podcasts zum Thema Schule und Unterricht.">
<div class="ln-playlist-card-info-part">
<div>
<img src="https://cdn-images-1.listennotes.com/podcast-playlists/lehramt-uulm-RA3O2vBLqar-g-NibklKcz0.269x269.JPEG" alt="Lehramt UUlm" class="ln-episode-image-medium" />
</div>
<div class="ln-playlist-card-header-info">
<div class="ln-playlist-card-subtitle">
<span title="Default: episode playlist"><i class="fas fa-play"></i> Episode List</span>
&nbsp;&nbsp;
<span title="Public"><i class="fas fa-globe-americas" title="Public"></i> Public</span>
</div>
<div class="ln-playlist-card-subtitle">
106 episodes
and
3 podcasts
</div>
<div class="ln-playlist-card-subtitle">
<small>
Updated
<time datetime="Mon, 08 Jun 2020 14:52:24 -0700" title="Mon, 08 Jun 2020 14:52:24 -0700">
3 minutes ago</time>.
Created <time>a year ago</time>.
</small>
</div>
</div>
</div>
<div class="ln-playlist-card-subtitle ln-top-padding-3x" title="Ausgesuchte Podcasts zum Thema Schule und Unterricht.">
<span class="ln-text-body-color">
Ausgesuchte Podcasts zum Thema Schule und Unterricht.
</span>
</div>
</a>
</div>
<div class="col-lg-4 ln-col">
<div data-type="playlist-toolbar" data-rss="" data-url="" data-text="Lehramt UUlm" data-uuid="" data-image="https://cdn-images-1.listennotes.com/podcast-playlists/lehramt-uulm-RA3O2vBLqar-g-NibklKcz0.269x269.JPEG" data-embed-url="https://www.listennotes.com/listen/lehramt-uulm-g-NibklKcz0/episodes/embed/" data-is-archived="False" data-is-owner="False" data-playlist-type="2" class="ln-channel-episode-action-outer-container"></div>
</div>
</div>
</div>
</div>












<div class="ln-podcaster-card">
<ul class="pagination justify-content-center">
<li class="page-item ln-page-item disabled">
<a class="page-link" href="?page=0" onClick="real_ga('send', 'event', 'Featured Playlists Previous', 'Nav');" rel=”prev”>
Previous
</a>
</li>
<li class="page-item ln-page-item ">
<a class="page-link" href="?page=2" onClick="real_ga('send', 'event', 'Featured Playlists Next', 'Nav');" rel=”next”>
Next
</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 ln-col ln-top-padding-15x">
<div class="">
<div class="ln-sidebar-card">

<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
CLASSIFIEDS
<a title="View all podcast classified ads" class="ln-left-padding-3x" href="/classifieds/">
<i class="fa fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-classifieds-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-classifieds-app" data-params="{}"></div>
</div>
</div>
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center  ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card-title">
ACTIONS
</div>
<a class="btn btn-primary btn-lg ln-full-width" href="/listen/" title="Create your own podcast playlists">
<i class="fa fa-list"></i> Create Your Playlists
</a>
</div>
</div>
</div>
</div>
</div>
{% endblock %}