
{% extends 'base.html' %}

{% block content %}


<div class="row ln-content-header-section">
<div class="col-lg-2"></div>
<div class="col-lg-6 ln-col">
<h1 class="ln-page-l1-title">
Access Doorstop Sized Bio/History In An Hour
</h1>
<div class="ln-page-section-paragraph">
<div class="ln-podcaster-card-info-row">
<div class="ln-podcaster-name">
<i class="fa fa-microphone-alt"></i> Philip D. Gibbons
</div>
</div>
</div>
<div class="ln-page-section-paragraph">
<span class="ln-date-text">June 12, 2020</span> - &quot;Do what you love and are interested in. You will never last if you are chasing audience.&quot;
</div>
<div class="ln-page-section-paragraph">
<div class="ln-podcaster-name-tag-row">
<div class="ln-channel-genre-tag">Since 2015</div>
<div class="ln-channel-genre-tag">History</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col">
<div class="ln-channel-episode-action-container" id="placeholder-page-share-button">
<div class="ln-channel-episode-action-button-container">
<a href="" title="" class="btn btn-primary ln-animate-grow ln-channel-episode-action-button">
<span class="ln-primary-btn-text"><i class="fa fa-microphone"></i> INTERVIEW</span>
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="Share with friends" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-share"></i> SHARE
</a>
</div>
<div class="ln-channel-episode-action-button-container">
<a title="RSS of podcaster interviews" class="btn btn-secondary ln-animate-grow ln-channel-episode-action-button">
<i class="fa fa-rss-square"></i> RSS
</a>
</div>
</div>
<div id="page-share-button" data-primary-url="" data-primary-title="" data-primary-button-text="INTERVIEW" data-primary-icon="fa fa-microphone" data-secondary-url="https://www.listennotes.com/interviews/rss/" data-secondary-title="Podcaster Interviews" data-secondary-button-text="RSS" data-secondary-icon="fas fa-rss-square" data-url="https://www.listennotes.com/interviews/access-doorstop-sized-biohistory-in-an-hour-CbnPZmX34kO/" data-text="Access Doorstop Sized Bio/History In An Hour" class="ln-channel-episode-action-outer-container"></div>
</div>
</div>
<div class="row">
<div class="col-lg-2"></div>
<nav class="col-lg-10 ln-col ln-nav-tab-container ln-horizontal-scroll">
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
<a href="#tab-interview" class="nav-link active" data-toggle="tab">
<i class="fa fa-microphone-alt"></i> INTERVIEW</a>
</li>
<li class="nav-item">
<a href="#tab-search" class="nav-link" data-toggle="tab">
<i class="fa fa-search"></i> SEARCH<span class="ln-inline-desktop-tablet-only"> INTERVIEWS</span>
</a>
</li>
</ul>
</nav>
</div>
<div class=" ln-content-body-section ln-top-padding-0x ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="tab-pane active" id="tab-interview" role="tabpanel">
<div class="ln-top-pagination-card"></div>
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">Podcasts</h2>
<a href="" title=" Byte Sized Biographies…">
<div class="ln-channel-simple-card">
<div>
<img src="https://cdn-images-1.listennotes.com/podcasts/byte-sized-biographies-byte-sized-biographies-Z7t6ALQcI8-.300x300.jpg" alt=" Byte Sized Biographies…" class="ln-episode-image" />
</div>
<div class="ln-channel-header-info">
<h1 class="ln-channel-episode-card-info-title ln-channel-simple-card-title">
Byte Sized Biographies…
</h1>
<div class="ln-channel-episode-card-info-subtitle ln-channel-simple-card-subtitle" title="Byte Sized Biographies…">
By Byte Sized Biographies…
</div>
</div>
</div>
</a>
</div>
<div class="ln-channel-episode-detail-card">
 <h2 class="ln-channel-episode-detail-card-title">Full Interview</h2>
<div class="ln-page-section-paragraph ln-podcaster-interview-text">
<h3><strong>► Tell us about you and your podcast</strong></h3>
<p>Philip D. Gibbons, writer, journalist and documentary filmmaker. The podcast is called Some Very Famous People You&#39;ve Never Really Heard of. I basically take that doorstop sized bio or history related book that you will never read and make it accessible in an hour.</p>
<p>&nbsp;</p>
<h3><strong>► Why &amp; how did you start this podcast?&nbsp;</strong></h3>
<p>Love podcasts and I love history. I liked the idea of providing information in a world where people have no time to read 800 pages books. Started in 2015, and it took me only a few weeks to release something once I understood the technology.</p>
<p>&nbsp;</p>
<h3><strong>► How&#39;d you find the time and funding to do this podcast?</strong></h3>
<p>Because these are labor intensive, it takes 4-6 weeks, I find the time because I love the medium. I have no sponsors yet and pay for it myself but it is pretty inexpensive.</p>
<p>&nbsp;</p>
<h3><strong>► What do you gain from podcasting?</strong>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h3>
<p>Don&#39;t have any sponsors, about 8000 a month but trying to grow. It is very rewarding to know that anyone on the planet can hear my podcast.</p>
<p>&nbsp;</p>
<h3><strong>► How does your podcasting process look like?&nbsp;</strong></h3>
<p>Audio Technica mikes, Zoom portable digital recorder, Adobe Premiere Pro. Don&#39;t interview anyone, typically. Digest the two or three best biographies or books about a particular incident and write it out.</p>
<p>&nbsp;</p>
<h3><strong>► How do you market your show?</strong></h3>
<p>iTunes and Google are probably my best sources. I post on Twitter and Facebook but it doesn&#39;t seem to get much traction.</p>
<p>&nbsp;</p>
<h3><strong>► What advice would you share with aspiring (new) podcasters?</strong></h3>
<p>Do what you love and are interested in. You will never last if you are chasing audience.</p>
<p>&nbsp;</p>
<h3><strong>► Where can we learn more about you &amp; your podcasts?</strong></h3>
<p><a href="" rel="" target="_blank">someveryfamouspeople.com</a></p>
</div>
<p class="text-right ln-date-text">
Updated: 4 days ago
</p>
</div>
<div class="ln-channel-episode-detail-card">
<a href="" class="ln-primary-color" title="272 Interviews with Independent Podcast Producers: A Snapshot of Indie Podcasting in 2019">
272 Interviews with Independent Podcast Producers: A Snapshot of Indie Podcasting in 2019
</a>
</div>
<nav class="ln-channel-episode-detail-card">
<div class="row">
<div class="col-md-6 ln-col">
<span class="ln-episode-pager-header">PREVIOUS INTERVIEW:</span>
<div class="ln-episode-pager-block">
<a href="">Talk About Gardening &amp; Stories From Nature And The Wider Green Environment</a>
</div>
</div>
<div class="col-md-6 ln-col ln-episode-pager-right">
</div>
</div>
</nav>
<div class="ln-top-margin-5x">

</div>
</div>
<div class="tab-pane" id="tab-search" role="tabpanel">
<div class="ln-top-pagination-card"></div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
SEARCH PODCASTER INTERVIEWS
</h2>
<div>
<form action="/search/">
<div class="input-group ln-search-input-container">
<input type="hidden" name="scope" value="interview" />
<input type="text" name="q" class="form-control ln-search-input" placeholder="people, places, topics..." aria-label="people, places, topics..." required>
<div class="input-group-append">
<input class="btn btn-primary" type="submit" value="search" />
</div>
</div>
</form>
</div>
<div class="ln-text-input-copy-annotation ln-top-padding-3x">
Search past interviews. Learn stories behind your favorite podcasts.
</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col ln-top-padding-15x">
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<div class="ln-channel-episode-detail-card-title">
ELSEWHERE
</div>
<div>
<div class="ln-channel-social-link-row">
<a href="https://twitter.com/PhilipDGibbons" onClick="real_ga('send', 'event', 'Channel Twitter', 'Twitter: Access Doorstop Sized Bio/History In An Hour | Listen Notes');" title="Twitter of Access Doorstop Sized Bio/History In An Hour | Listen Notes" rel="nofollow">
<i class="fa fa-twitter"></i> @PhilipDGibbons
</a>
</div>
</div>
</div>
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card">
<h2 class="ln-channel-episode-detail-card-title">
PODCAST ACADEMY
<a title="View all podcast academy articles" class="ln-left-padding-3x" href="/podcast-academy/">
<i class="fa fa-angle-double-right"></i>
</a>
</h2>
<div id="ln-sidebar-academy-placeholder">
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="FB-Loading-Card ln-recommendation-placeholder-card">
<div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
<div id="ln-sidebar-academy-app" data-params="{}"></div>
</div>
<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<a class="btn btn-secondary ln-full-width" href="/interviews/random/">
<i class="fa fa-random"></i> Random interview
</a>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}