{% extends 'base.html' %}

{% block content %}

<!-- TITULO -->
<div class="row ln-content-header-section">

<div class="container" style="padding-left:30px;padding-top:30px;padding-bottom:90px">

<h1 class="row" style="padding-left:95px;font-size:82px">
 <span style="color:#5EBD3E">Listen Notes is </span> <span>&nbsp;</span><strong> <span style="color:#FFB900">the best </span> <span style="color:#F78200">podcast  search</span> <span style="color:#E23838">engine<sup >TM</sup></strong></span>
</h1>

<h1 class="row" style="padding-left:218px">
<span style="color:#973999">It's like Google,</span><span style="color:#009CDF"> but for podcasts.</span>
</h1>

<div class="row" style="padding-left:128px">
Search the whole Internet's podcasts. Curate your own podcast playlists. Listen on your favorite podcast player apps.
</div>

</div>
<!-- FIN TITULO -->

<div class="ln-content-body-section ln-top-padding-0x ln-grey-bg">
<div class="row">
<div class="col-lg-2 ln-desktop-only"></div>
<div class="col-lg-6 ln-col tab-content">
<div class="tab-pane active" id="podcasts" role="tabpanel">
<div class="ln-top-pagination-card">
Page 1 of 434 podcasts
<span class="ln-desktop-tablet-only">&nbsp;&middot; May 6, 2020</span>
<div class="ln-channel-episode-detail-card-title-right">
<div class="ln-channel-sort-select">
<select class="custom-select" id="best-sort-selector" data-url="">
<option value="recent_added_first" selected>
Added date (Newest)
</option>
<option value="oldest_added_first">
Added date (Oldest)
</option>
<option value="recent_published_first">
Published (Newest)
</option>
<option value="oldest_published_first">
Published (Oldest)
</option>
</select>
</div>
</div>
</div>
<div class="ln-mobile-only" id="ln-top-banner2">
<div class="ln-home-feed-ad ln-top-banner2">
<div class="ln-top-ad text-center">

<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587057798270-1_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>




<div class="ln-channel-episode-detail-card">
<div class="row">
<div class="col-lg-10 ln-col ln-channel-detailed-card-info-container">
<div>
<a href="" title="Team Deakins">
<img src="https://cdn-images-1.listennotes.com/podcasts/team-deakins-james-ellis-deakins-roger-_BKsbaXTdEq-Ov3bpmkUou9.300x300.jpg" alt="Best podcasts (2020): Team Deakins" class="ln-channel-image" />
</a>
</div>
<div class="ln-channel-detailed-card-header-info">
<h2 class="ln-channel-episode-card-info-title ln-channel-detailed-card-title">
<a href="" title="">
Team Deakins
</a>
</h2>
<div class="ln-channel-episode-card-info-subtitle ln-channel-simple-card-subtitle" title="">
By
<a href=" " >James Ellis Deakins, Roger Deakins, Matt Wyman</a>
</div>
<div class="ln-channel-detailed-card-links-container">
<a class="btn-sm " href="" title="" rel="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold"><i class="fa fa-apple" aria-hidden="true"></i> ITUNES</a>
<a class=" btn-sm" href="" rel="" title="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold"><i class="fa fa-rss"></i> RSS</a>
<a class="btn-sm" rel="" title="" href="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold">
<i class="fa fa-link"></i> WEB</a>
<a class=" btn-sm " href=" " data-id="login-nav-link" title="" data-text="" target="_blank" style="color:gray;font-size:11.5px;font-weight:bold"><i class="fa fa-envelope"></i> EMAIL</a>
</div>
</div>
</div>

<div class="col-lg-2 ln-col">
<!-- <div data-id="channel-toolbar" data-channel-uuid="1973c08440e64f88bd0857b277b44c09" data-channel-title="Team Deakins" data-embed-url="https://www.listennotes.com/podcasts/team-deakins-james-ellis-deakins-roger-Ov3bpmkUou9/embed/" class="ln-channel-episode-action-outer-container"></div>-->
 <div class="row" style="padding-top:25px">
<button type="button" class="btn btn-sm ln-animate-grow ln-channel-episode-action-button" style="width:88px;color:white;background-color:#EF5B25">
 <i class="fa fa-bookmark" style="color:white;"></i>
&nbsp;&nbsp;SAVE</button>
</div>

<div class="row" style="padding-top:6px">
<button type="button" class="border btn btn-light btn-sm ln-animate-grow ln-channel-episode-action-button" style="width:88px;"><i class="fa fa-share"></i>&nbsp;&nbsp;SHARE</button>
</div>
</div>

</div>
<div class="ln-channel-detailed-card-description">
The Team Deakins podcast is an ongoing conversation between acclaimed cinematographer Roger Deakins and James Deakins, his collaborator, about cinematography, the film business and whatever other questions are submitted. We start with a specific que…
</div>
<div class="ln-channel-detailed-card-latest-episode">
<div class="ln-channel-detailed-card-latest-episode-header">LATEST EPISODE</div>
<div>
<div class="ln-channel-episode-card-body">
<div class="ln-channel-episode-card-inner-body">
<h3 class="ln-channel-episode-card-info-title">
<a href="" title="Lens Choice" onClick="">
Lens Choice
</a>
</h3>
<div class="ln-channel-episode-card-info-subtitle">
<time title="" datetime="" class="ln-date-text">
May 6, 2020
</time>
</div>
</div>
 
</div>
<div>
<div>
</div>
</div>
<div>
<div >
<a >
</a>


<div class="row">
  <span> <i class="fa fa-play-circle ln-animate-grow ln-channel-episode-action-button" style="font-size:36px;color:#EF5B25"></i></span>
  <label style="padding-left:8px;padding-top:5px">00:44:15</label>
   <div class="row" style="padding-left:20px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-share"></i>&nbsp;&nbsp;SHARE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="button" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-bookmark"></i>&nbsp;&nbsp;SAVE</button>
  </div>
   <div class="row" style="padding-left:6px;">
   <button type="text" class="border btn btn-light bt-sm ln-animate-grow ln-channel-episode-action-button" ><i class="fa fa-ellipsis-h"></i></button>
  </div>

  <div class="row" align="right" style="padding-left:140px;">
   <a type="button" href="allepisodes" class=" btn bt-sm ln-animate-grow " style="font-size:14px">See all episodes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  </div>
  
</div>
</div>
<div >

</div>
</div>
</div>
</div>
</div>










<div class="ln-podcaster-card">
<ul class="pagination justify-content-center">
<li class="page-item  ln-page-item disabled">
<a class="page-link" href="https://www.listennotes.com/best-podcasts/?page=0&region=au&sort_type=recent_added_first" onClick="real_ga('send', 'event', 'Best Previous', 'Best Previous  / au');" rel="prev nofollow">
Previous
</a>
</li>
<li class="page-item  ln-page-item ">
<a class="page-link" href="https://www.listennotes.com/best-podcasts/?page=2&region=au&sort_type=recent_added_first" onClick="real_ga('send', 'event', 'Best Next', 'Best Next  / au');" rel="next nofollow">
Next
</a>
</li>
</ul>
</div>
</div>
<div class="tab-pane" id="search" role="tabpanel">
<div class="ln-top-pagination-card"></div>
<div class="ln-channel-episode-detail-card">
<h2 class="ln-channel-episode-detail-card-title">
SEARCH
</h2>
<div>
<form action="/search/">
<div class="input-group ln-search-input-container">
<input type="hidden" name="scope" value="podcast" />
<input type="hidden" name="genre_ids" value="67" />
<input type="text" name="q" class="form-control ln-search-input" placeholder="people, places, topics..." aria-label="people, places, topics..." required>
<div class="input-group-append">
<input class="btn btn-primary" type="submit" value="search" />
</div>
</div>
</form>
</div>
<div class="ln-text-input-copy-annotation ln-top-padding-3x">
Search the whole Internet's podcasts
</div>
</div>
</div>
</div>
<div class="col-lg-3 ln-col ln-top-padding-15x">
<div class="">
<div class="ln-sidebar-card">
<div class="ln-bottom-margin-5x text-center">
<div class="ln-sidebar-ads ln-left-padding-1x">
<a href="/ads/" rel="nofollow" class="ln-ads-attribution text-left">Advertisement</a>

<div id="bsa-zone_1587058446801-7_123456" class="ln-gpt-container"></div>
</div>
</div>
</div>
</div>
<div class="ln-sticky-sidebar">

<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<div class="" align="left" style="color:#909090;font-weight:650;">
ACTIONS
</div>
<a class="" href="" style="padding-left:0px">
 <div class="row" >
    <div style="padding-left:0px;">

         <div class="row" style="padding-left:0px;">
          <div class="col" >
         ccccc
         </div>
         <div class="col">
         xxxxxxxxx
         </div>
         </div>
        
          <div class="row" style="padding-left:0px;">
          <div class="col">
         ccccc
         </div>
         <div class="col">
         xxxxxxxxx
         </div>
         </div>
  </div>

 </div>

</a>

</div>






<div class="ln-channel-episode-detail-card ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<div class="ln-channel-episode-detail-card-title">
ACTIONS
</div>
<a class="btn btn-secondary ln-full-width" href="/submit/">
<i class="fa fa-plus-circle"></i> Submit your podcast
</a>
<a class="btn btn-secondary ln-full-width ln-bottom-margin-3x ln-top-margin-3x" href="/datasets/category/">
<i class="fa fa-database"></i> Batch export podcasts
</a>
</div>
<div class="ln-sidebar-card ln-channel-episode-sidebar-card ln-channel-episode-sidebar-center">
<a href="/api/docs/#get-api-v2-best_podcasts" class="ln-sidebar-api-promo" onClick="real_ga('send', 'event', 'Click API Sidebar', 'API Sidebar Best Podcasts');">
<i class="fas fa-code"></i> Use API to fetch this list
</a>
</div>
</div>
</div>
</div>
</div>

<div id="audio-player"></div>
</div>


{% endblock %}